<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="author" content="gustavo-blacknaut">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicione uma atividade</title>
  <link href="/atividade.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container">
    <form method="POST">
      <label for="titulo">Digite o título da atividade:</label>
      <input type="text" required id="titulo" name="titulo" />

      <label for="descricao">Digite a descrição da atividade:</label>
      <input type="text" required id="descricao" name="descricao" />

      <label for="link">Digite o link da atividade:</label>
      <input type="text" required id="link" name="link" />

      <a href="/admin">Voltar a página anterior</a><br><br>

      <input type="submit" value="Adicionar" id="meubotao" onClick="" />
    </form>
  </div>
</body>
</html>
