<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="author" content="gustavo-blacknaut">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicione um Aluno</title>
  <link href="/aluno.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container">
    <form method="POST">
      <label for="email">Digite o email do Aluno:</label>
      <input type="email" required id="email" name="email" />

      <a href="/admin">Voltar a página anterior</a><br><br>

      <input type="submit" value="Adicionar" id="meubotao" onClick="" />
    </form>
  </div>
</body>
</html>