<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="author" content="gustavo-blacknaut">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Painel Administrador</title>
  <link href="/admin.css" rel="stylesheet" type="text/css" />
  <style>
    
  </style>
</head>
<body>
  <div class="container">
    <a class="btn-link" href="/admin/alunos">Adicione um Aluno</a>
    <a class="btn-link" href="/admin/tarefas">Adicione uma Atividade</a>
    <a class="btn-link" href="/atividades">Olhe o painel de Atividades</a>
  </div>
</body>
</html>
