<!DOCTYPE html>
</html>
<head>
  <meta charset="UTF-8">
  <meta name="author" content="gustavo-blacknaut">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="title" content="Página de Login">
  <meta name="theme-color" content="#f2f2f2">
  <meta name="description" content="Entre na sua conta.">

  <title>Entre na sua conta</title>
  <link href="login.css" rel="stylesheet" type="text/css" />
</head>
  <body>
    <div class="container">
      <h1>Entre na sua conta</h1>
      <form method="POST">
        <label for="user">Email:</label><br>
        <input type="email" required id="user" name="user" />
  
        <label for="senha">Senha:</label><br>
        <input type="password" required id="senha" name="senha" />
  
        <a href="/registrar">Não tem uma conta?</a><br><br>
  
        <input type="submit" value="Entrar" id="meubotao" onClick="" />
      </form>
    </div>
  </body>
</html>
