<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="author" content="gustavo-blacknaut">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="title" content="Página de Registrar">
  <meta name="theme-color" content="#f2f2f2">
  <meta name="description" content="Crie uma conta.">

  <title>Crie uma conta</title>
  <link href="register.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container">
    <h1>Register sua conta</h1>
    <form method="POST">
      <label for="username">Nome:</label><br>
      <input type="text" required id="username" name="username" />

      <label for="user">Email:</label><br>
      <input type="email" required id="user" name="user" />

      <label for="senha">Senha:</label><br>
      <input type="password" required id="senha" name="senha" />

      <a href="/login">Já tem uma conta?</a><br><br>

      <input type="submit" value="Criar Conta" id="meubotao" onClick="" />
    </form>
  </div>
</body>
</html>
